@import './Data/variables.scss';


*{
    font: $font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: $fontSize;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
