//---design---
$font:'Poppins', sans-serif;
$fontSize: 18px;
$primaryCyan: hsl(180, 66%, 49%);
$primaryDarkViolet: hsl(257, 27%, 26%);

$secoundaryColor:hsl(0, 87%, 67%);

$neutralGray: hsl(0, 0%, 75%);
$neutralGrayish: hsl(257, 7%, 63%);
$neutralVeryDarkBlue: hsl(255, 11%, 22%);
$neutralVeryDarkViolet: hsl(260, 8%, 14%);

//---media queries---
$S: 375px;
$L: 992px;
$XL: 1440px;